.App {
  display:flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content:center;
  width: 100vw;
  height: 100vh;
  background-image:url('/assets/mz133yt5.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
